<!-- myapp/templates/myapp/city_list.html -->
<!-- myapp/templates/myapp/city_list.html -->
{% extends 'base.html' %}
{% block title %}City List{% endblock %}
{% block content %}

  <h2>City List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Country Code</th>
        <th scope="col">District</th>
        <th scope="col">Population</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for city in cities %}
        <tr>
          <td>{{ city.name }}</td>
          <td>{{ city.country_code }}</td>
          <td>{{ city.district }}</td>
          <td>{{ city.population }}</td>
          <td>
            <a href="{% url 'city_update' city.pk %}">Edit</a>
            <a href="{% url 'city_delete' city.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if cities.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ cities.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cities.number }} of {{ cities.paginator.num_pages }}.
        </span>

        {% if cities.has_next %}
            <a href="?page={{ cities.next_page_number }}">next</a>
            <a href="?page={{ cities.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>

  <a href="{% url 'city_create' %}">Add City</a>

{% endblock %}
