{% extends 'base.html' %}

{% block title %}Country Language List{% endblock %}

{% block content %}
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" />

  <!-- Fonts and icons -->
  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <h2>Country Language List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Language</th>
        <th scope="col">Percentage</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for language in country_languages %}
        <tr>
          <td>{{ language.language }}</td>
          <td>{{ language.percentage }}%</td>
          <td>
            <a href="{% url 'country_language_update' language.pk %}">Edit</a>
            <a href="{% url 'country_language_delete' language.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'country_language_create' %}">Add Country Language</a>

  <div class="pagination">
    <span class="step-links">
      {% if country_languages.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ country_languages.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ country_languages.number }} of {{ country_languages.paginator.num_pages }}.
      </span>

      {% if country_languages.has_next %}
        <a href="?page={{ country_languages.next_page_number }}">next</a>
        <a href="?page={{ country_languages.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
 {% endblock %}
</head>