
<!-- myapp/templates/myapp/country_list.html -->
{% extends 'base.html' %}

{% block title %}Country List{% endblock %}

{% block content %}
  <h2>Country List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Flag</th>
        <th scope="col">Name</th>
        <th scope="col">Population</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
        <tr>
          <td>
            {% if country.flag %}
              <img src="{{ country.flag.url }}" alt="{{ country.name }} Flag" height="30" width="40">
            {% endif %}
          </td>
          <td>{{ country.name }}</td>
          <td>{{ country.population }}</td>
          <td>
            <a href="{% url 'country_update' country.pk %}">Edit</a>
            <a href="{% url 'country_delete' country.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'country_create' %}">Add Country</a>

  <div class="pagination">
    <span class="step-links">
      {% if countries.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ countries.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ countries.number }} of {{ countries.paginator.num_pages }}.
      </span>

      {% if countries.has_next %}
        <a href="?page={{ countries.next_page_number }}">next</a>
        <a href="?page={{ countries.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
