{% extends 'base.html' %}

{% block title %}Country Language List{% endblock %}

{% block content %}
  <h2>Country Language List</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Language</th>
        <th scope="col">Percentage</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for language in country_languages %}
        <tr>
          <td>{{ language.language }}</td>
          <td>{{ language.percentage }}%</td>
          <td>
            <a href="{% url 'country_language_update' language.pk %}">Edit</a>
            <a href="{% url 'country_language_delete' language.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'country_language_create' %}">Add Country Language</a>
{% endblock %}
